assets/MWS/DeployTestApp/src/com/webmethods/caf/is/wsclient/wmwebsrv/wsd/addintswsdl/addIntsWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="addInts" targetNamespace="http://ALEXD620.AME.ad.sag/WmWebSrv.wsd:addInts" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://ALEXD620.AME.ad.sag/WmWebSrv.wsd:addInts" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ALEXD620.AME.ad.sag/WmWebSrv.wsd:addInts" xmlns:tns="http://ALEXD620.AME.ad.sag/WmWebSrv.wsd:addInts" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="addIntsInput" type="tns:addIntsInput"/>
          <xsd:element name="addIntsOutput" type="tns:addIntsOutput"/>
          <xsd:complexType name="addIntsInput">
            <xsd:sequence>
              <xsd:element name="num1" nillable="true" type="xsd:string"/>
              <xsd:element name="num2" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="addIntsOutput">
            <xsd:sequence>
              <xsd:element name="value" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="addInts_PortType_addIntsOutput">
    <wsdl:part name="parameters" element="tns:addIntsOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addInts_PortType_addIntsInput">
    <wsdl:part name="parameters" element="tns:addIntsInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="addInts_PortType">
    <wsdl:operation name="addInts">
      <wsdl:input message="tns:addInts_PortType_addIntsInput">
    </wsdl:input>
      <wsdl:output message="tns:addInts_PortType_addIntsOutput">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WmWebSrv_wsd_addInts_Binder" type="tns:addInts_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addInts">
      <soap:operation soapAction="WmWebSrv_wsd_addInts_Binder_addInts" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WmWebSrv.wsd.addIntsWSDL">
    <wsdl:port name="WmWebSrv_wsd_addInts_Port" binding="tns:WmWebSrv_wsd_addInts_Binder">
      <soap:address location="http://ALEXD620.AME.ad.sag:5555/ws/WmWebSrv.wsd.addIntsWSDL/WmWebSrv_wsd_addInts_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
